{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul>
    <li><a href="{% url 'home' %}"> HOME </a></li>
    <li><a href="{% url 'add' %}">ADD </a></li>
</ul>
<hr>
{% if request.user.is_authenticated %}
<h2>Привет {{request.user.username}}</h2>
{% else %}
<h2>Регистрация</h2>
{% endif %}

{% if request.user.is_authenticated %}
    <li><a href="{% url 'logout' %}"> Выйти </a></li>
{% else %}
    <li><a href="{% url 'register' %}"> Регистрация </a></li>
    <li><a href="{% url 'login' %}"> Логин </a></li>
{% endif %}

<hr>
{% block content %}
{% endblock %}
</body>
</html>